<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User History</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100vh;
            background-color: #f0f0f0;
        }

        .navbar {
            background-color: #333;
            color: white;
            padding: 10px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .navbar span {
            margin-right: 10px;
        }

        .navbar-links {
            display: flex;
            align-items: center;
        }

        .navbar-link {
            margin-right: 10px;
            color: white;
            text-decoration: none;
            padding: 8px;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .navbar-link:hover {
            background-color: #555;
        }

        h1 {
            color: #333;
            margin-top: 20px;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        li {
            margin-bottom: 20px;
            font-size: 16px;
            color: #333;
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 15px;
            width: 80%;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .result-list {
            margin-left: 20px;
        }
        footer {
            margin-top: auto;
            padding: 15px;
            background-color: #333;
            color: white;
            text-align: center;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <span></span>
        <div class="navbar-links">
            <a href="/home" class="navbar-link home-link">Home</a>
            <a href="/logout" class="navbar-link logout-link">Logout</a>
            <a href="api/books_by_title" class="navbar-link logout-link">Books by title</a>
            <a href="api/books_by_author" class="navbar-link logout-link">Books by author</a>
        </div>
    </div>

    <h1>User Search History</h1>

    <ul>
        <% userHistory.forEach(historyItem => { %>
            <li>
                <%= historyItem.action %> - <%= historyItem.date %><br>
                <% if (historyItem.result) { %>
                    <div class="result-list">
                        <p><strong>Results:</strong></p>
                        <ul>
                            <li><strong>Title:</strong> <%= historyItem.result.title %></li>
                            <li><strong>Author:</strong> <%= historyItem.result.author %></li>
                            <li><strong>First Publish Year:</strong> <%= historyItem.result.firstPublishYear %></li>
                            <li><strong>Publish Years:</strong> <%= historyItem.result.publishYears.join(', ') %></li>
                        </ul>
                    </div>
                <% } else { %>
                    No results shown
                <% } %>
            </li>
        <% }); %>
    </ul>
    <footer>
        <p>Created by Balzhan, SE-2206</p>
    </footer>>
    
</body>
</html>
